<div class="current-path__box">
  <a href="#/" class="current-path__link current-path__link--available">Головна</a>
  <span class="current-path__split">/</span>
  <span class="current-path__link current-path__link--current">Про нас</span>
  <a href=""></a>
</div>
<div class="accordion" accordion>
  <article class="main-content__article accordion__tab  accordion__tab--open">
    <h1 class="accordion__tab__title">Виробництво та постачання</h1>
    <div class="accordion__tab__content">
      <p>Виробничий підрозділ ПП «Фасад» площею 0,5 га розташований в
        м. Луцьку, розташований за 70 км від кордону з ЄС, що дає можливість в
        найкоротший термін здійснювати прямі поставки матеріалів та
        комплектуючих з країн ЄС (приклад – поставка покрівельного титанцинку на Макдональдс на Поштовій площі з Франції на об'єкт за 48
        годин, включно з розмитненням).</p>
        <div class="">
          <p class="">цех алюмінієвих конструкцій:</p>
          <ul class="list list--circle">
            <li>комплекс для двухвимірної обробки алюмінієвих
              фасадних конструкцій (GRAULE);</li>
              <li>обладнання для виробництва алюмінієвих конструкцій
                (PREZ MET, ALUPROF, YIL MAZ, ELUMATEK);</li>
              </ul>
            </div>
            <div class="">
              <p class="">цех виробництва алюмінієвих композитних панелей (Alucobond)</p>
              <ul class="list list--circle">
                <li>універсальний комплекс (STRIEBIG);</li>
                <li>універсальний вальцовочний станок:
                  <ul class="list list--circle">
                    <li class="">продольний (1.15 м)</li>
                    <li>поперечний (L до 3,6м)</li>
                  </ul>
                </li>
                <li>листогин (TAPCO, 3,3 м);</li>
              </ul>
            </div>
            <div class="">
              <p class="">виготовлення високоточних просторових металоконструкцій</p>
              <ul class="list list--circle">
                <li>Червоноградський завод металевих конструкцій –
                  на партнерських засадах.</li>
                </ul>
              </div>
    </div>
          </article>
          <article class="main-content__article">
            <h1 class="">Монтаж</h1>
            <p>ПП «Фасад», використовуючи 16-річний досвід, виконує повний
              комплекс робіт по влаштуванню огороджуючих конструкцій з
              високотехнологічних матеріалів, починаючи з даху і закінчуючи
              вхідними групами.</p>
              <p>Окремо слід наголосити на нашій спеціалізації по монтажу скляних
                конструкцій МЕГА формату (до 3,2х9,0 м). Для цього у ПП «Фасад» є
                2
                необхідне спеціалізоване обладнання:</p>

              </article>

</div>
