<div class="gallery__btn__container">
  <div>
    <button class="gallery__btn" ng-click="filterBy('showAll')">Показати всі об'єкти<i class="fa fa-eye" aria-hidden="true"></i></button>
    <button class="gallery__btn" ng-click="filterBy('hideAll')">Приховати всі об'єкти<i class="fa fa-eye-slash" aria-hidden="true"></i></button>
  </div>
  <div>
    <button class="gallery__btn gallery__btn__filter" ng-class="{'gallery__btn__filter--active': galleryBtnFilterIsActive(listId)}" ng-repeat="listId in listOfListId" ng-click="filterBy(listId)">{{listId}}</button>
  </div>
  <div>
    <button class="gallery__btn" ng-click="sortBy('title')"><i class="fa fa-briefcase" aria-hidden="true"></i>Назва проекту<span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span></button>
    <button class="gallery__btn" ng-click="sortBy('location')"><i class="fa fa-map-marker" aria-hidden="true"></i>Місто<span class="sortorder" ng-show="propertyName === 'location'" ng-class="{reverse: reverse}"></span></button>
  </div>
</div>
<div class="gallery clearfix" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}'>
  <div masonry-tile class="gallery__item tile" ng-repeat="gallery_item in gallery | filter:filterByFilteredList | orderBy:propertyName:reverse">
    <img class="gallery__item__img" ng-src="{{gallery_item.url[0]}}" alt="">
    <p class="gallery__item__title">{{gallery_item.title}}</p>
    <p class="gallery__item__location">{{gallery_item.location}}</p>
  </div>
</div>
