<article class="main-content__article">
    <p>ПП «Фасад» з 2000 року займається консалтингом, проектуванням, постачанням і монтажем скляних огороджуючих конструкцій, а також вентильованих фасадів із алюмінієвих композитних панелей, керамограніту, HPL-панелей, титан-цинку та натурального дерева.</p>
    <p>У нас є все необхідне для успішної реалізації проектів:</p>
    <ul>
        <li>професіональна і злагоджена команда архітекторів, конструкторів, менеджерів і монтажників;</li>
        <li>великий досвід реалізації нестандартних об'єктів;</li>
        <li>сучасна виробнича база та спеціалізоване обладнання для монтажу фасадів;</li>
        <li>практика впровадження і розробки інноваційних фасадних системних рішень;</li>
        <li>кооперація з надійними європейськими партнерами.</li>
    </ul>
</article>
